/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght700'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

  *{
      padding: 0;
      margin: 0;
      font-family: 'Montserrat';
      box-sizing: border-box;
  }

  body, html {
      background-image: url("https://i.ibb.co/St651x3/hexnew.jpg");
      background-repeat: initial;
      background-size: contain;
      height: 100%;
      overflow-x: hidden;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .chevron {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: black;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .slide {
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background-color: lightgray;
    transition: right 0.3s ease;
  }

  .sidebar {
      display: block;
      margin: 0;
      padding: 0;
      width: 70px;
      background-color: #8092e4;
      position: fixed;
      z-index: 100;
      padding-top: 10px;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      transition: ease-in-out 0.5s;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }


  .sidebar a {
    display: block;
    color: #c0bfbf91;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }

  #logo{
    width: 69px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
  }

  a i{
    font-size: 25px;
    text-align: center;
  }

  .sidebar a.active {
    transition: ease-in-out 0.5s;
    background-color: #8092e4;
    color: white;
    /* color: #1fb11f; */
  }

 .sidebar a:hover:not(.active) {
  /* background-color: #8c9ee4; */
    color: #ffffff;
    transition: ease-in-out 0.5s;
  }

  #left{
    position: absolute;
    left: 2.9em;
    color: #7a7a7a;
    top: 50%;
    font-size: 30px;
    z-index: 99;
    transition: ease-in-out .3s;
    cursor: pointer;
  }

  #left:hover{
    transform: scale(1.3);
  }

  #right{
    position: absolute;
    right: 1em;
    color: #7a7a7a;
    top: 50%;
    font-size: 30px;
    z-index: 99;
    transition: ease-in-out .3s;
    cursor: pointer;
  }

  #right:hover{
    transform: scale(1.3);
  }
  
  .content{
    margin-top: 10px;
    left: 19em;
    font-size: 10.7px;
  }

  #downprompt{
    background-color: #ffffff;
    color: #0f1f6e;
    position: fixed;
    text-align: center;
    width: 15vw;
    bottom: 1%;
    font-size: 14px;
    right: 1%;
    padding: 13px;
    z-index: 99;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.541);
    opacity: 1;
    display: block;
    transition: ease-in-out .7s;
  }
  
  .list-title{
    padding-top: 4px;
    padding-bottom: 7px;
  }

  #moredown{
    cursor: pointer;
    width: 80%;
    text-align: center;
    margin-top: -2em;
    font-size: 10px;
    transition: ease-in-out .3s;
  }

  .field-list{    
    max-height: 0;
    overflow: hidden;
    transition: ease-in-out .5s;
  }

  hr{
    height: 5px;
		background-color: #363636;
  }